.intro-container {
  opacity: 1;
}

.container-fusee {
}

#fuseehop {
  opacity: 0;
  perspective: 400px;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

#fuseeKiDecol {
  opacity: 0;
  width: 45px;
  height: 100px;
  transform-style: preserve-3d;
  transform: rotateX(15deg) translateY(850px);
  /* animation: slidein 20s;
  animation-play-state: paused; */
}

/* @keyframes slidein {
  from {
    opacity: 1;
    transform-style: preserve-3d;
    transform: rotateX(15deg) translateY(550px);
  }

  to {
    opacity: 1;
    transform-style: preserve-3d;
    transform: rotateX(15deg) translateY(-1000px);
  }
} */

.takeoffplanet {
  position: absolute;
  top: 66vh;
  width: 100%;
  height: 34%;
  margin: 0 auto;
  overflow: hidden;
}

#takeoff {
  position: relative;
  top: 10vh;
  width: 800px;
  height: 800px;
  opacity: 0;
  background-image: url(../img/earth_cartoon.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}
